<div *ngIf="loading$ | async" class="fixed inset-0 flex flex-col items-center justify-center bg-opacity-50"
  style="background-color: #0e0e11;">
  <p class="text-teal-500 text-center mb-4">Loading users...</p>
  <div class="spinner"></div>
</div>

<div *ngIf="error$ | async as error"
  class="text-red-500 text-center mb-4 fixed inset-0 flex flex-col items-center justify-center bg-opacity-50">
  <p class="mb-4">{{error}}</p>
  <button class="bg-indigo-500 hover:bg-indigo-600 text-white py-2 px-4 rounded transition duration-300" (click)="ngOnInit()">Retry</button>
</div>

<div class="min-h-screen flex flex-col text-gray-200" style="background-color: #0e0e11;">
  <div *ngIf="!(loading$ | async) && !(error$ | async)" class="container mx-auto p-6 rounded-lg shadow-lg">
    <h1 class="text-3xl font-bold mb-6 text-center">User Management</h1>
    <div class="mb-6 flex justify-end">
      <button class="bg-indigo-500 hover:bg-indigo-600 text-white py-2 px-4 rounded transition duration-300" (click)="addUser()">Add User</button>
    </div>
    <div class="overflow-x-auto">
      <table class="min-w-full bg-gray-700 rounded-lg shadow">
        <thead class="bg-gray-600 text-gray-200">
          <tr>
            <th class="py-3 px-6 text-left font-medium">Name</th>
            <th class="py-3 px-6 text-left font-medium">Email</th>
            <th class="py-3 px-6 text-left font-medium">Actions</th>
          </tr>
        </thead>
        <tbody *ngIf="(users | async) as userList; else noUser">
          <tr *ngFor="let user of userList" class="custom-row">
            <td class="py-4 px-6 border-b border-gray-600">{{ user.name }}</td>
            <td class="py-4 px-6 border-b border-gray-600">{{ user.email }}</td>
            <td class="py-4 px-6 border-b border-gray-600">
              <div class="flex space-x-2">
                <button
                  class="bg-green-500 hover:bg-green-600 text-white py-2 px-6 rounded transition duration-300" (click)="editUser(user)">Edit</button>
                <button
                  class="bg-red-500 hover:bg-red-600 text-white py-2 px-6 rounded transition duration-300" (click)="removeUser(user.email)">Delete</button>
              </div>
            </td>
          </tr>
        </tbody>
        <ng-template #noUser>
          <tbody>
            <tr>
              <td colspan="3" class="text-center py-4 px-6 border-b border-gray-600">No users found.</td>
            </tr>
          </tbody>
        </ng-template>
      </table>
    </div>
  </div>
</div>

<app-add-user (closeModalEvent)="closeAddUser($event)" *ngIf="addUsershowModal"></app-add-user>
<app-edit-user *ngIf="editUsershowModal" [currentUser]="userToEdit" (closeModalEvent)="closeEditUser($event)"></app-edit-user>
