<style>
    .icon {
        height: 64px;
        width: 64px;
    }
    header{
        border-bottom: 1px solid #8c8ea4;
    }
</style>
<body class="bg-gray-400 text-white">
<header class="p-4" style="background-color: #0e0e11;">
    <div class="container mx-auto flex justify-between items-center">
        <a href="#" class="text-xl font-bold">My Website</a>
        <nav>
            <ul class="flex space-x-4">
                <li><a href="" class="hover:text-gray-300">Home</a></li>
            </ul>
        </nav>
        <div>
            <button class="text-red-400 border px-9 py-2 rounded-lg hover:bg-gray-700"(click)="userLogout()">Logout</button>
        </div>
    </div>
</header>
</body>