<body class="text-white flex items-center justify-center min-h-screen" style="background-color: #0e0e11;">
    <div class="w-full max-w-md p-8 space-y-8 rounded-lg shadow-md" style="background-color: #3d3d3d;">
        <div class="text-center">
            <h2 class="mt-6 text-3xl font-extrabold">Login</h2>
            <p class="text-red-500 text-center mt-2">{{ errorMessage$ | async }}</p>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()" class="mt-8 space-y-6">
            <div class="rounded-md shadow-sm -space-y-px">
                <div>
                    <label for="email-address" class="sr-only">Email address</label>
                    <div *ngIf="email?.touched && email?.invalid" class="text-red-500">
                        <div *ngIf="email?.errors?.['required']">Email is required.</div>
                        <div *ngIf="email?.errors?.['email']">Invalid email address.</div>
                    </div>
                    <input id="email-address" formControlName="email" type="email" autocomplete="email" required
                        class="appearance-none rounded-none relative block w-full mb-4 px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                        placeholder="Email address">
                </div>
                <div>
                    <label for="password" class="sr-only">Password</label>
                    <div *ngIf="password?.touched && password?.invalid" class="text-red-500">
                        <div *ngIf="password?.errors?.['required']">Password is required.</div>
                        <div *ngIf="password?.errors?.['minlength']">Password must be at least 8 characters.</div>
                    </div>
                    <input id="password" formControlName="password" type="password" autocomplete="current-password"
                        required
                        class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                        placeholder="Password">
                </div>
            </div>
            <div class="flex items-center justify-center">
                <div class="text-sm">
                    <a class="font-medium text-white hover:text-indigo-500"> Don't have account?
                        <a [routerLink]="['/signup']" class="font-medium text-indigo-600 hover:text-white">signup</a>
                    </a>
                </div>
            </div>
            <div>
                <button type="submit"
                    class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-black hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                    Log in
                </button>
            </div>
        </form>
    </div>
</body>